# *.* linguist-detectable=false
*.Dart linguist-detectable=true
*.C++ linguist-detectable=false
*.C linguist-detectable=true
*.cmake linguist-detectable=false
*.html linguist-detectable=false
*.swift linguist-detectable=false
